apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
spec:
  template:
    spec:
      containers:
        - name: kagoo-app
          envFrom:
            - configMapRef:
                name: configs
            - secretRef:
                name: secrets
          imagePullPolicy: Always
